streamlit
spacy
ffmpeg-python
numpy
presidio-analyzer 
presidio-anonymizer
geotext
sentencepiece
audio-recorder-streamlit
streamlit
transformers
torch
pydub
pandas
requests
scikit-learn
joblib
openai-whisper==20231106
setuptools<81
