streamlit
openai-whisper
spacy
ffmpeg-python
numpy
presidio-analyzer 
presidio-anonymizer
geotext
sentencepiece
audio-recorder-streamlit
streamlit
openai
whisper
transformers
torch
pydub
pandas
requests
scikit-learn
joblib

