streamlit
spacy
ffmpeg-python
numpy
presidio-analyzer 
presidio-anonymizer
geotext
sentencepiece
audio-recorder-streamlit
streamlit
transformers
torch
pydub
pandas
requests
scikit-learn
joblib
streamlit
git+https://github.com/openai/whisper.git
setuptools<81
